body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.mainWrapper {
  margin: 0 auto;
  max-width: 512px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
  }
}

.inputWrapper {
  position: relative;

  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    outline-style: none;
    resize: none;
  }
  // textarea:focus {
  //   background-color: black;
  // }

  .lengthWrapper {
    position: absolute;
    bottom: 0;
    right: 12px;
  }
}

section {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  // grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
  grid-template-rows: auto;

  div {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 12px;
    background-color: lightgoldenrodyellow;
    border-radius: 12px;
    cursor: pointer;
    overflow: scroll;
    transition: all 200ms ease-in-out;
  }
  .current {
    transform: scale(1.03);
    background-color: orange;
  }
  #add {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    padding: 12px;
    color: white;
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
  }
}

.list {
  display: flex;
  flex-direction: column;
  div {
    width: 100%;
    height: 60px;
  }
  #add {
    width: 100%;
    height: 60px;
  }
}
